{# note: if odoo.com/page/docs sub-menu's structure change, these links have to change as well #}

<li><a href="https://www.odoo.com/documentation/user/11.0/index.html">User</a></li>
<li><a href="https://doc.flectrahq.com">Developer</a></li>
<!--<li><a href="https://training.odoo.com/">Training center</a></li>-->
<!--<li><a href="https://www.odoo.com/documentation/11.0/webservices/odoo.html">API</a></li>-->
<!--<li><a href="https://www.odoo.com/documentation/11.0/setup/install.html">Installation</a></li>-->
<!--<li><a href="https://www.odoo.com/page/odoo-white-paper">White Papers</a></li>-->
<!--<li><a href="https://www.odoo.com/page/legal">Legal</a></li>-->
